.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;

    #why{
        color: var(--primary);
        font-size: 42px;
    }

    span {
        color: var(--caption);
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 10px;
    }
}

.button {
    height: 56px;
    width: 350px;

    color: var(--text);
    background: none;
    border-image: linear-gradient(to right, var(--primary), var(--gray)) 1;

    margin-top: 32px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .3s;

    svg {
        font-size: 24px;
        margin-right: 7px;
    }

    &:hover {
        background-color: var(--background-light);
    }
}